<% layout("/layouts/boilerPlate.ejs") %>
<body>
    <h3>All Listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cold-sm-1">
        
        <% for(let list of allListings ){ %>
            <a href="/listings/<%= list._id %>" class="listing-link">
            <div class="listing-card card" >
                <img src="<%= list.image %>" class="card-img-top" style="height: 20rem;" alt="image">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= list.title %></b> 
                        <br>
                        <%= list.price.toLocaleString("en-IN") %>/night
                    </p>
                </div>
            </div>
            </a>
        <% } %>
    </div>
    
</body>
